<div class="row">
  <div class="col-6">
    <app-dona title="Ventas" [labels]="['labels1', 'labels2', 'labels3']" [data]="[40, 20, 35]"></app-dona>
  </div>
  <div class="col-6">
    <app-dona title="Compras" [labels]="['labels1', 'labels2', 'labels3']" [data]="[76, 43, 9]"></app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona title="Cambios" [labels]="['labels1', 'labels2', 'labels3']" [data]="[33, 66, 88]"></app-dona>
  </div>
  <div class="col-6">
    <app-dona title="Retornos" [labels]="['labels1', 'labels2', 'labels3']" [data]="[66, 33, 96]"></app-dona>
  </div>
</div>